<!-- CSS -->
<!-- <link rel="stylesheet" type="text/css" href="/css/login.css" /> -->

<div class="container f-center f-col">
  <h3>Login</h3>
  <form class="f-center f-col" method="POST" action="/">
    <div>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Email"
        required
      />
    </div>
    <div>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        required
      />
    </div>
      <button type="submit">Play</button>
  </form>
  <a href="/register">Create Account</a>
</div>

<!-- Scripts -->
<script type="module" src="/app.js"></script>
<script type="module" src="/index.js"></script>
