<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/register.css">



<div class="container f-center">Register</div>





<!-- Scripts -->
<!-- <script src="/index.js" charset="utf-8"></script> -->